@model IEnumerable<CARVAN.Models.Product>
@{
    ViewBag.Title = "Contact";
}

<link rel="stylesheet" type="text/css" href="~/Content/css/contactus.css">

<section class="contacts">
    <div class="contents">
        <h2>Contact Us</h2>


    </div>
    <div class="container">
        <div class="contactInfo">
            <div class="box">
                <div class="icon"><i class="fas fa-map-marked-alt"></i></div>
                <div class="text">
                    <h3>Address</h3>
                    <p>4676 Sugar Camp Road,<br>Owatonna, Minnesota, <br>55060</p>
                </div>
            </div>
            <div class="box">
                <div class="icon"><i class="fas fa-phone"></i></div>
                <div class="text">
                    <h3>Phone</h3>
                    <p><a href="tel:0123456789">0123456789</a></p>
                </div>
            </div>
            <div class="box">
                <div class="icon"><i class="far fa-envelope"></i></div>
                <div class="text">
                    <h3>Email</h3>
                    <p><a href="mailto:tests@gmail.com">tests@gmail.com</a></p>
                </div>
            </div>
        </div>
        <div class="contactForm">
            <form action="">
                <h2>Send Message</h2>
                <div class="inputBox">
                    <input type="text" name="" required="required">
                    <span>Full Name</span>
                </div>
                <div class="inputBox">
                    <input type="text" name="" required="required">
                    <span>Your Phone</span>
                </div>
                <div class="inputBox">
                    <textarea required="required"></textarea>
                    <span>Type your message...</span>
                </div>
                <div class="inputBox">
                    <input type="submit" value="Send">
                </div>
            </form>
        </div>
    </div>
</section>
